/*was gibt es denn so für browserfenstergrößen?
richtig groß ist größer als 1200px
laptop ist zwischen 992px und größer (für den kurs)
tablet ist zwischen 768px und 991px
phone ist kleiner gleich als 767px

*/


*{font-family: "futura";
  box-sizing: border-box;}

	.ueberschrift {
  width: 90%;
  height: 100px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 175%;
  }

   .kategorie{
   	width:40%;
   	float:right;
   	border: 2px solid black;
   	text-align: center;
   	font-size: 125%;
   	float:right;
   }

   .speise{
   	background-color: grey;
   	margin:10px;
   	border:2px solid black;
   }

   .beschreibung{
   	margin:10px;
   	margin-top:40px;
   	clear:both;
   }

   .row {
    width: 90%;
    border: 5px;
    margin-right: auto;
    margin-left: auto;
    padding:5px;
   }

.chicken {
  background-color: #eebbcc;
  color: black;
}

.beef {
  background-color: #b33820;
  color: white;
}

.sushi {
  background-color: #e2d093;
  color: black;
}


/********** groß - desktop **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    background-color: white;
    width: 33.33%;
  }
}

/********** mittelgroß - tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    background-color: white;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** klein - phone **********/
@media (max-width: 767px) {.col-sm-12 {
    float: left;
    background-color: white;
    width: 100%;}
}
